<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Username : <%=name%></title>
</head>
<body style="text-align: center;">
    <h1 style="margin-bottom: 0px;"> This Is The Instagram Page Of <%= name %> </h1>
    <hr style="background-color: black; height: 3px; width: 85vw;">
    <h2>All The Followers Of <%=name%> Are : </h2>
    <h3>
        <ul>
        <% for (let person of followers){ %>
                <li style="width: max-content; margin: 0px auto;"><%= person %></li>
        <%  } %>    
    </ul>
    </h3>
    <button style="margin: 5px;">Follow <%= name %> </button>
    <button style="margin: 5px;">Message <%= name %></button>
</body>
</html>