<% layout('/layouts/boilerplate') %>

<body>
    <h2 class="mt-3">Edit Your Listing</h2>

    <form method="post" action="/listings/<%= result._id%>?_method=PUT">

        <div class="col-8 offset-2">
            <div class="mb-4">
                <label class="form-label" for="listing[title]">Title : </label>&nbsp;
                <input class="form-control" type="text" name="listing[title]" placeholder="Enter The Title Of The Listing"
                value="<%= result.title %>">
            </div>

            <div class="mb-4">
                <label class="form-label" for="listing[description]">Description : </label>&nbsp;&nbsp;
                <textarea class="form-control" name="listing[description]" rows="4" cols="27" placeholder="Enter The Description">
                <%= result.description %></textarea>
            </div>

            <div class="mb-4">
                <label class="form-label" for="listing[image]">Image : </label>&nbsp;
                <input class="form-control" type="text" name="listing[image]" placeholder="Enter The URL Of The Display Image"
                value="<%= result.image %>">
            </div>

            <div class="row">
                <div class="mb-4 col-md-4">
                    <label class="form-label" for="listing[price]">Price : </label>&nbsp;
                    <input class="form-control" type="number" name="listing[price]" placeholder="The Price Per Night"
                    value="<%= result.price %>">
                </div>
    
                <div class="mb-4 col-md-8">
                    <label class="form-label" for="listing[location]">Location : </label>&nbsp;
                    <input class="form-control" type="text" name="listing[location]" placeholder="Enter The Location Of The Listing"
                    value="<%= result.location %>">
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label" for="listing[country]">Country : </label>&nbsp;
                <input class="form-control" type="text" name="listing[country]" placeholder="Enter The Country of the Location"
                value="<%= result.country %>">
            </div>  

            <button class="btn btn-dark mb-5 mt-4" type="submit">Edit</button>&nbsp;&nbsp;
            <button class="btn btn-dark mb-5 mt-4" type="reset">Reset</button> 
        </div>

    </form>
</body>